<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/profiel.css">
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <h1>Profiel</h1>
  <!-- <img src="styles/images/What-to-wear-2.jpg" alt="profilepicture"> -->
  <!-- Hier haal ik uit server.js uit de data array gegevens die ik hier nodig heb.
Vandaar dat ik data.name doe en data.age etc.   -->
<h2>Naam:</h2>
  <h3><%= data.name %></h3>
  <h2>Leeftijd:</h2>
  <h3><%= data.age %> jaar oud</h3>
  <h2>Geslacht:</h2>
  <h3><%= data.sex %></h3>
  <h2>Valt op:</h2>
  <h3><%= data.genderlike %></h3>
  <h2>Job:</h2>
  <h3><%= data.job %></h3>
    <h2>Omschrijving:</h2>
  <p>
    <%= data.description %>
  </p>
    <h2>Favorites:</h2>
  <p>
    <%= data.favorites %>
  </p>
  <section>
    <a href="/updatepage">Wijzig profiel</a>
  <a href="../form">Voorkeurenlijst</a>
</section>

<section>
    <a href="/loguit">Log uit</a>
  <!-- data-id = een gegeven attribuut -->
    <button class="deleteButton" data-id="<%= session.user.id %>" id="delete">Verwijder profiel</button>
</section>
  <footer>
    <a href="/profile/<%= session.user.id %>"><img src="../achtergrond/index.png" alt="home"></a>
    <a href="/kandidates"><img src="../achtergrond/kandidaten.png" alt="kandidaten"></a>
    <script src="../js/delete.js"></script>
  </footer>
</body>

</html>
